@import "tailwindcss";
@variant hover (&:hover);
@plugin '@/utils/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

/* Import Fonts */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    font-weight: 300;
}

ul {
    list-style: none;
    padding: 0;
}

strong {
    font-weight: 600;
}