---
import { getI18N } from "@/i18n";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";

import BaseLayout from "@/layouts/BaseLayout.astro";
import TagH1 from "@/components/global/TagH1.astro";
import TagP from "@/components/global/TagP.astro";
import BtnLinkCustom from "@/components/extras/BtnLinkCustom";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const seoMetaDatos = {
    title: i18n.NOT_FOUND_PAGE.TITLE,
    description: i18n.SEO.NOT_FOUND_PAGE.DESCRIPTION,
    robots: "noindex, nofollow",
};
---

<BaseLayout seo={seoMetaDatos}>
    <section
        class="container mx-auto flex flex-col items-center text-center my-5 lg:mb-24 lg:mt-10"
    >
        <div class="w-full md:w-3/5 my-20 px-6">
            <TagH1 class="!mt-10">{i18n.NOT_FOUND_PAGE.TITLE}</TagH1>
            <TagP class="!text-center mt-10">{i18n.NOT_FOUND_PAGE.DESCRIPTION}</TagP>
            <div class="mt-10">
                <BtnLinkCustom
                    client:visible
                    text={i18n.ACCESSIBILITY.GO_TO_HOME}
                    url={translatePath("/")}
                />
            </div>
        </div>
    </section>
</BaseLayout>
