---
import { getI18N } from "@/i18n";
import { PlayerPause, PlayerPlay } from "@/icons/allIcons";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const posterImg = "https://res.cloudinary.com/videosextreme/video/upload/so_7/snorkeling-adventure-mayan-reef_za2g1k.jpg"
const videoSrc = "https://res.cloudinary.com/videosextreme/video/upload/snorkeling-adventure-mayan-reef_za2g1k.mp4";
---

<section class="h-120 md:h-150 relative z-10 overflow-hidden">
    <video
        id="video-home"
        autoplay
        muted
        loop
        preload="auto"
        poster={posterImg}
        class="absolute top-0 left-0 w-full h-full object-cover object-center brightness-75 z-0 mask-radial-[100%_100%] mask-radial-from-75% mask-radial-at-top"
    >
        <source
            src={videoSrc}
            type="video/mp4"
        />
    </video>
    <button
        id="btn-video-home"
        class="absolute z-10 bottom-5 left-1/2 -translate-x-1/2 bg-white transition rounded-full p-6 shadow-lg group cursor-pointer"
    >
        <span class="sr-only">{i18n.ACCESSIBILITY.PLAY_PAUSE}</span>
        <PlayerPlay id="iconPlay" class="size-6 md:size-8 text-black hidden group-hover:scale-110 transition duration-300" />
        <PlayerPause id="iconPause" class="size-6 md:size-8 text-black group-hover:scale-110 transition duration-300" />
    </button>
    <script is:inline>
        const videoHero = document.getElementById('video-home');
        const btnVideoHero = document.getElementById('btn-video-home');
        const iconPlay = btnVideoHero.querySelector('#iconPlay');
        const iconPause = btnVideoHero.querySelector('#iconPause');

        btnVideoHero.addEventListener('click', () => {
            if (videoHero.paused) {
                videoHero.play();
                iconPlay.classList.add('hidden');
                iconPause.classList.remove('hidden');
            } else {
                videoHero.pause();
                iconPlay.classList.remove('hidden');
                iconPause.classList.add('hidden');
            }
        });
    </script>
</section>