---
import { Image } from "astro:assets";
import { MainHero } from "@public/img/allImages";
---
<section class="w-full min-h-[calc(100vh-13rem)] relative grid place-items-start">
    <Image
        src={MainHero}
        alt="snorkel in the mayan reef"
        class="absolute inset-0 w-full h-full object-cover mask-b-from-80%"
    />
</section>
