---
import { Image } from "astro:assets";
import { MainHero } from "@public/img/allImages";
import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---
<section class="w-full min-h-[calc(100vh-13rem)] relative grid place-items-start">
    <Image
        src={MainHero}
        alt={i18n.ACCESSIBILITY.IMAGES.HERO}
        class="absolute inset-0 w-full h-full object-cover mask-b-from-80%"
    />
</section>
