---
import { Image } from "astro:assets";
import { BgSnorkel } from "@public/img/allImages";
---
<section
    class="w-full min-h-[calc(100vh-12rem)] relative grid place-items-start"
>
    <Image
        src={BgSnorkel}
        alt="snorkel in the mayan reef"
        class="absolute inset-0 w-full h-full object-cover"
    />
    <div
        class="bg-linear-to-b from-transparent from-80% to-white absolute inset-0"
    >
    </div>
</section>
