<article class="animate-pulse p-2 md:p-5">
    <div
        class="w-full h-52 md:h-60 bg-linear-to-tl from-gray-300 to-gray-100 rounded-xl"
    >
    </div>
    <div class="w-2/5 h-2.5 rounded-full bg-gray-300 mt-6 mb-5 mx-auto"></div>
    <div class="w-4/5 h-2.5 rounded-full bg-gray-300 mb-2 mx-auto"></div>
    <div class="w-3/5 h-2.5 rounded-full bg-gray-300 mb-5 mx-auto"></div>
    <div class="flex flex-wrap justify-center items-center gap-3 mb-4">
        <span class="w-24 h-2.5 bg-gray-300 rounded-lg"></span>
        <span class="w-24 h-2.5 bg-gray-300 rounded-lg"></span>
    </div>
</article>
